.git
.gitignore
.env
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
.DS_Store
.vercel
vercel_deploy/
postgres_backup.tar
combined_season1-40.tsv
json_seasons/
venv/
temp_repo/
cs3130-lab10-avanomme-main/ 